flask==3.0.3
glob2==0.7
joblib==1.2.0
keras==2.5.0rc0
lightgbm==3.2.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
numpy==1.19.5
opencv-contrib-python-headless==4.7.0.72
opencv-python==4.6.0.66
pandas==1.4.4
pathlib==1.0.1
pillow==10.0.1
protobuf==3.20.0
pytest==7.4.4
pytest-shutil==1.7.0
scikit-image==0.18.3
scikit-learn==1.1.1
scipy==1.7.3
tensorboard==2.5.0
tensorflow==2.5.0
tifffile==2023.7.10
typing-extensions==3.7.4.3
xgboost==2.0.3
exceptiongroup==1.1.3

